
.container {
    padding: 0.5rem;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
}
.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    max-width: 70%;
    padding: 0 1rem;
}
.header {
    text-align: center;
}
.title {
    font-size: 2rem;
 
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}

.logo {
    width: 140px;
    height: auto;
    max-width: 45%;
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .logo-container {
        justify-content: center;
    }

    .logo {
        width: 120px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0.5rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .logo {
        width: 100px;
    }
}